*{
    border: 0;
    padding: 0;
}
nav{
    display: flex;
    width: 100vw;
    justify-content: center;
    gap: 20vw;
  
}
.main-logo{
    width:180px ;
    height: 60px;
    margin-top: 10px;
}
ul{
    list-style: none;
    display: flex;
    gap: 3vw;
    align-items: center;
    margin: 0;
}
ul a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
.nav-logo{
    border: 0;
    padding: 0%;
    
}
li{
    display: flex;
    align-items: center;
    gap: 4px;
}
svg{
    position: relative;
    top: 2px;
    transform: rotate(90deg);
}
.flex{
    width: 100vw;
    display: flex;
    justify-content: center;
    
}
.text{
    width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.text>h1 {
    text-align: center;
    FONT-SIZE: 48PX;
    font-weight: 100;
    padding-top: 55px;
    padding-bottom: 30px;
}
.bold{
    font-weight: bold;
}


.text>p{
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}
.other-download{
    background-color: rgb(47, 117, 247);
    width: 100%;
    height: 100%;
    padding: 20px 20px 20pxx 20pxx;
    border-radius: 8px;
    color: white;
    font-weight: bold; 
    cursor: pointer;
    
}
.text>a{
    width: 32%;
    height: 45px;
   
}

/* main{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.gap-container{ 
    width: 960px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 40px;
    
}
.gap-container>p{
    margin-left: 30px;
}
.small{
    font-size: 17px;
}
.grid{
    height: 900px;
    width: 960px;
   
    display: grid;
    grid-template-columns: repeat(3,302px);
    grid-template-rows: repeat(4,201px);
    /* background-color: black; */
    gap: 25px;
}
.card{
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}
h1{
   font-size: 20px;
   margin: 5px;
   padding: 0;
}
h3{
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: 100;
}
h5{
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-weight: 100;
}
button{
    width: 180px;
    padding: 10px 10px 10pxx 10pxx;
    height: 30px;
    background-color: rgb(10, 207, 53);
    border-radius: 10px;
    color: white;
    font-weight: 800;
    cursor: pointer;
}
p{
    margin: 0;
    padding: 0;
    font-size: 9px;
}
@media(max-width:1000px)
{
    body{
        width: 100vw;
    }

    .grid{
        display: grid;
        grid-template-rows: repeat(5, 201);
        grid-template-columns: 302px 302px;
        
    }
    .text>h1 {
        text-align: center;
        FONT-SIZE: 38PX;
        font-weight: 100;
        padding-top: 55px;
        padding-bottom: 30px;
    }
    .bold{
        font-weight: bold;
    }
    
    
    .text>p{
        text-align: center;
        font-size: 17px;
        margin-bottom: 30px;
    }
    .nav-content{
        display: none;
    }
   
    .text{
        width: 90%;
    }
    .gap-container{
        width: 90%;
    }
    .grid{
        width: 620px;
        height: 1125px;
        padding-right:8px;
    }
    nav{
        width: 90%;
    }

}
@media(max-width:450px)
{
    body{
        max-width: 100%;
    }
    .text>h1 {
        text-align: center;
        FONT-SIZE: 28PX;
        font-weight: 100;
        padding-top: 55px;
        padding-bottom: 30px;
    }
    .text>p{
        text-align: center;
        font-size: 14px;
        margin-bottom: 30px;
    }
    .grid{
        display: grid;
        grid-template-rows: repeat(10, 201px);
        grid-template-columns: 302px;
    }
    .nav-content{
        display: none;
    }
    .text{
        width: 90%;
    }
    .gap-container{
        width: 90%;
    }
    .grid{
        width: 302px;
        height: 2250px;
    }
    nav{
        width: 90%;
    }
}
